.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  /* max-width: 100%;
  max-height: 100%; */
}

.fontlogin {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.background {
  background-color: #add8ff;
}
