/* Gaya untuk elemen header */
:root {
  --primary: #61b3ff;
  --bg: #f6fbff;
  --text: #1e1e1e;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg);
}

.navbar {
  background-color: #fff;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-brand {
  padding-left: 30px;
  font-weight: bold;
  font-size: 22px;
}

.navbar .navbar-brand img {
  margin-right: 20px;
}

.navbar .navbar-nav {
  margin-right: -10px;
  font-weight: 500;
  font-size: 16px;
}

.navbar .navbar-nav a {
  margin-right: 50px;
}

.navbar .profile-nav,
img {
  border-radius: 25%;
}

.hero .jumbotron {
  margin-top: 164px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.hero .jumbotron .left-side {
  flex-grow: 1;
}

.hero .jumbotron .left-side h1 {
  font-weight: bold;
  font-size: 3rem;
  padding-top: 65px;
  padding-left: 50px;
  width: 100%;
}

.hero .jumbotron .lead {
  padding-top: 35px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
}

.hero .jumbotron .lead .btn {
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary);
  border: none;
  margin-top: -50px;
  padding: 10px 30px;
}

.hero .jumbotron .hero-img {
  margin-top: 15px;
  margin-right: 50px;
}

.hero .jumbotron .right-side {
  flex: 1 1 30rem;
}

.main .stat {
  display: flex;
  flex-wrap: wrap;
}

.main .stat .stat-1,
.stat-2,
.stat-3,
.stat-4 {
  background-color: var(--primary);
  margin: 20px;
  width: 200px;
  height: 200px;
  align-content: center;
  text-align: center;
  padding-top: 60px;
}

.main .stat h3 {
  font-weight: bold;
  font-size: 2rem;
}

.news-item {
  height: fit-content;
  width: fit-content;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #61b3ff;
  font-size: 1000%;
}

.main .stat p {
  font-weight: medium;
  font-size: 1rem;
}

/* Gaya untuk judul halaman */
h1 {
  margin: 0;
  color: #333333;
}

#atas {
  margin: 30px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 75px;
}

.container-1,
.container-2,
.container-3 {
  overflow: auto;
}

.gambar-1,
.gambar-2,
.gambar-3 {
  float: left;
  margin-right: 30px;
}

.gambar {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  display: flex;
  align-items: left;
  gap: 1px;
  grid-gap: 1px;
}

#atas div {
  background-color: #f5fafc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Gaya untuk bagian progres donasi */
#progress {
  margin: 30px 0;
}

/* Gaya untuk item progres donasi */
#progress div {
  background-color: #f5fafc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Gaya untuk judul item */
h3 {
  color: #333333;
}

/* Gaya untuk teks progres dan pengembangan */
p {
  color: #666666;
}

@media only screen and (max-width: 480px) {
  /* Adjust padding and font size for smaller screens */
  .hero {
    margin-top: -150px;
  }

  section {
    padding: 10px;
  }

  h1,
  h2 {
    font-size: 20px;
  }
}

/* footer {
  background-color: #c0c0c0;
  padding: 10px;
  text-align: center;
} */