/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #61b3ff;
  --bg: #f6fbff;
  --text: #1e1e1e;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg);
}

.navbar {
  background-color: #fff;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-brand {
  padding-left: 30px;
  font-weight: bold;
  font-size: 22px;
}

.navbar .navbar-brand img {
  margin-right: 20px;
}

.navbar .navbar-nav {
  margin-right: -10px;
  font-weight: 500;
  font-size: 16px;
}

.navbar .navbar-nav a {
  margin-right: 50px;
}

.navbar .profile-nav img {
  border-radius: 50%;
}

.hero .jumbotron {
  margin-top: 164px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.hero .jumbotron .left-side {
  flex-grow: 10;
}

.hero .jumbotron .left-side h1 {
  font-weight: bold;
  font-size: 3rem;
  width: 35%;
  padding-top: 65px;
  padding-left: 50px;
  width: 60%;
}

.hero .jumbotron .lead {
  padding-top: 35px;
  padding-left: 50px;
  width: 30%;
  font-weight: 400;
  font-size: 1rem;
  width: 50%;
}

.hero .jumbotron .lead .btn {
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary);
  border: none;
  margin-top: -50px;
  padding: 10px 30px;
}

.hero .jumbotron .hero-img {
  margin-top: 15px;
  margin-right: 50px;
}

.hero .jumbotron .right-side {
  flex: 1 1 30rem;
}

.main .stat {
  display: flex;
  flex-wrap: wrap;
}

.main .stat .stat-1,
.stat-2,
.stat-3,
.stat-4 {
  background-color: var(--primary);
  margin: 20px;
  width: 200px;
  height: 200px;
  align-content: center;
  text-align: center;
  padding-top: 60px;
}

.main .stat h3 {
  font-weight: bold;
  font-size: 2rem;
}

.main .stat p {
  font-weight: medium;
  font-size: 1rem;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

#news-section {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #3182ce;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e7eb;
}

article {
  padding: 10px 0;
  border-bottom: 1px solid #e5e7eb;
}

.news-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-item img {
  max-width: 200px;
  border-radius: 5px;
}

.news-content {
  flex: 1;
  margin-left: 15px;
}

h3 {
  color: #3182ce;
  margin: 0;
}

/* @media only screen and (max-width: 811px) {
  main {
    margin-top: -75px;
  }

  header {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  h1,
  h2 {
    font-size: 24px;
  }

  .news-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .news-item img {
    max-width: 100%;
    order: 0;
    margin-bottom: 10px;
  }
} */

@media (max-width: 768px) {
  #news-section {
    margin-top: -80px;
  }
}

@media only screen and (max-width: 480px) {
  /* main {
    margin-top: -200px;
  } */

  #news-section {
    margin-top: -230px;
  }

  .main {
    margin-top: 10px;
  }

  section {
    padding: 10px;
  }

  h1,
  h2 {
    font-size: 20px;
  }
  header {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  .news-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .news-item img {
    max-width: 100%;
    order: 0;
    margin-bottom: 10px;
  }

  footer {
    background-color: #c0c0c0;
    padding: 10px;
    text-align: center;
  }
}
