/* .container {
    margin-top: 100px;
} */

.container .content .satu {
  margin-top: 100px;
  font-size: 3rem;
  margin-left: 400px;
  font-weight: bold;
}

.container .content .dua {
  /* margin-left: 25px; */
  margin-top: 100px;
  font-weight: 600;
}

.container .content .tiga {
  /* margin-left: 50px; */
  margin-top: 40px;
  width: 35%;
}

.container .content .empat {
  width: 15%;
  float: right;
  margin-top: -200px;
  /* margin-left: -100px; */
  margin-right: 300px;
}

.container .content .tujuh {
  float: right;
  margin-top: -10px;
  /* margin-left: 100px; */
  margin-right: 290px;
  font-weight: bold;
}

.container .content .delapan {
  width: 20%;
  margin-top: 50px;
  margin-left: 100px;
}

.container .content .lima {
  float: right;
  margin-right: 480px;
  margin-top: -230px;
  font-weight: 600;
}

.container .content .enam {
  width: 35%;
  float: right;
  margin-right: 270px;
  margin-top: -150px;
}

.container .content .one {
  margin-left: 100px;
}

.container .content .two {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .container .content .satu {
    width: 340px;
    margin-left: 200px;
    margin-top: 75px;
  }

  .container .content .dua {
    margin-top: 50px;
    margin-left: -75px;
  }

  .container .content .tiga {
    margin-left: -75px;
    margin-top: 25px;
  }

  .container .content .empat {
    margin-top: -130px;
    /* margin-left: 100px; */
    margin-right: 275px;
  }

  .container .content .tujuh {
    /* margin-left: 100px; */
    margin-right: 255px;
    margin-top: -30px;
  }

  .container .content .lima {
    /* margin-top: -150px; */
    /* margin-left: -100px; */
    /* margin-right: 530px;
    width: 150px; */
  }

  .container .content .enam {
    /* margin-top: -100px;
    margin-right: 450px; */
  }

  .container .content .delapan {
    /* margin-left: 300px; */
    margin-left: 10px;
  }
  
  .container .content 
/* 
  .one, 
  .two {
    width: 768px;
  } */


}
